<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BuyMapper">

    <insert id="insert" parameterType="Buy">
        INSERT INTO buy(buyer, bookid, date,valid)
        VALUES(#{buyer},#{bookid},#{date},TRUE )
    </insert>
    <delete id="delete" parameterType="Buy">
        UPDATE buy
        SET valid = FALSE
        WHERE buyer = #{buyer} AND bookid = #{bookid}
    </delete>
    <select id="getByBuyer" parameterType="String" resultType="BookWithDate">
        SELECT book.id,book.name,book.author,book.level,book.type
            ,book.price,book.description,book.owner,book.pic,book.valid,buy.date
        FROM buy JOIN book
        WHERE buyer = #{0} AND buy.valid = TRUE AND buy.bookid = book.id
    </select>
</mapper>